@model RealEstateMvcApp.Models.Entities.Wallet
<h2>Fund Wallet</h2>
@* <p>User ID = @Model.UserId</p> *@
<p>Current Balance = @Model.Balance</p>

@using (Html.BeginForm("FundWallet","Wallet"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <input type="submit" value="Add Funds" class="btn btn-primary" />
    </div>
    <li>
        <a asp-controller="User"  text asp-action="Client">Back</a>
        </li>
}