@model RealEstateMvcApp.Models.Dtos.PropertyDto
<div>Are you sure you want to delete this Property?</div>
<div>
    <h4>@Model.Id</h4>
    <h4>@Model.Name</h4>
    <h4>@Model.Description</h4>
    <h4>@Model.Location</h4>
    <h4>@Model.TransactionType</h4>
    <h4>@Model.Price</h4>
    <h4>@Model.Status</h4>
</div>
<form asp-action="Delete">
    <input type="hidden" value="@Model.Id"/>
    <input class="btn btn-danger" type="submit" value="Delete"/>
    <li>
            <a asp-controller="Property" asp-action="List">No</a>
        </li>
</form>