@model RealEstateMvcApp.Models.Dtos.ClientDto
@{
    @* ViewData["ManagerName"] = @Model.Name; *@
}
<h2>
    @* @ViewData["ManagerName"] *@
</h2>

<div>
    @* <h4>Id : @Model.Id</h4><br><br> *@
    <h4>Name : @Model.Name</h4><br><br>
    <h4>Email : @Model.Email</h4><br><br>
    <h4>Phone Number: @Model.PhoneNumber</h4><br><br>
    <h4>Address: @Model.Address</h4><br><br>
    @* <h4>Picture: @Model.Picture</h4><br><br> *@
    <td style="width: 50%;"></td>
                        <td class="text-center" style="width: 50%;">
                            <img src="~/Picture/@Model.Picture" height="100" width="100">
                        </td>
    <li>
        <a asp-controller="Client"  text asp-action="List">Back</a>
    </li>
</div>
<style>
    div{
        color: cornflowerblue;
    }
</style>